<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"></meta>

<link rel="stylesheet" href="css/bootstrap.min.css"></link>
<link rel="stylesheet" href="css/bootstrap-responsive.min.css"></link>
<link rel="stylesheet" href="css/font-awesome.min.css"></link>
<link rel="stylesheet" href="css/ace.min.css"></link>
<link rel="stylesheet" href="css/ace-skins.min.css"></link>
<link rel="stylesheet" href="css/ace-responsive.min.css"></link>
<link rel="stylesheet" href="webuploader/webuploader.css"></link>
<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
<style type="text/css">
body, html {
	width: 100%;
	height: 100%;
	background: #fff;
}

.Register {
	width: 50%;
	margin: auto;
}
</style>
</head>
<body>

	<div id="main-content" class="clearfix">
		<div id="page-content" class="clearfix">
			<div class="page-header position-relative">
				<h1 style="color: #2679b5;">
					品牌商<small><i class="icon-double-angle-right"></i> 钱包账号注册</small>
				</h1>
			</div>
			<form action="/registBvoWallet" method="post">
				<div class="Register">
					<div>
						<label class="green">账号:</label><input type="text" id="zhanghao"
							name="bvoaccount_name"></input>
					</div>
					<div>
						<label class="green">邮箱:</label><input type="text" id="text_input"
							name="bvoaccount_email" /> <input type="button" value="验证邮箱"
							id="btn_confirm" /></input>
					</div>
					<div>
						<label class="green">密码:</label><input type="password"
							name="bvoaccount_pwd"></input>
					</div>
					<input type="submit" class="btn  btn-success save" value="注册"></input>
				</div>
			</form>


		</div>
	</div>
	<script type="text/javascript">
		window.onload = function() {
			document.getElementById("btn_confirm").onclick = function() {
				var emil = document.getElementById("text_input").value;
				var regExp = /^\\w+@\\w{2,3}\\.\\w{2,3}$/
				//var ok = regExp.test(emil);
				var emilError = document.getElementById("emilError");
				if (regExp.test(emil)) {
					alert("邮箱验证合法")
				} else {
					alert("邮箱格式不通过")
				}
			}
			document.getElementById("text_input").onfocus = function() {
				document.getElementById("emilError").innerText = "";
			}
		}
	</script>

</body>
</html>
